.container{
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.header{
   flex: 15%;
   height: 200px;
   background: url("banner.png");
   background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
}

.menu{
   flex: 5%;
   background-color: #1a1a2e;
   display: flex;
   align-items: center;
   boder-bottom: 2px solid #e0c097;
   
}

.menu a{
   padding: 15px 20px;
   color: #e0c097;
   text-decoration: none;
}

.menu a:hover{
   background-color: #4831d4;
   color: white;
}

.content{
   flex: 70%;
   background-color: white;
}

.content iframe{
   border: none;
   height:100%;
   width:100%;
}

.footer{
   flex: 10%;
   background-color: #0f0flb;
}

h1 {
   color: red;
   top-margin: 25pt;
   
}
 .tuade {
    color: tomato;
    font-family: Arial;
    top-margin: 20pt;
    font-size: 20pt;
    font-weight: bold
}
 .noidung {
    color: black;
    top-margin: 6pt;
    font-size: 15pt;
    font-style: normal;
}
    
